__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.venv/

# Django
*.log
staticfiles/
media/

# SQLite database (keep if you want DB in repo; comment out to ignore)
# db.sqlite3

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


